#Ignoring the pdf files
Assigment_3/pdf_files/*
Assignment_3/pdf_files/golangOutput.PNG
Assignment_3/calc.class
Assignment_3/pdf_files/golang_Output.PNG
Assignment_8
Assignment_10
Assignment_11/.vscode
Assignment_11/Assn11.exe
Assignment_12/output.PNG