#Ignoring the compile instructions
compile_instructions.txt

#Ignoring the test.go file, it's just used for test purposes
test.go

#Ignoring the java class files and .java files that are not necessary
# or are for testing purposes
Calculator.class
Test.java
Test.class
Assignment_2.docx
Assignment_2-Output.pdf
pdf_files
a.exe
